In [33]:
# import stuff
import pandas as pd
import numpy as np
from sklearn.datasets import make_classification
from sklearn.utils import resample

In [34]:
pcf_gen = pd.read_csv("./Data/pcf-general.csv")
spl_gen_1 = pd.read_csv("./Data/spl-gen-1.csv")
spl_gen_2 = pd.read_csv("./Data/spl-gen-2.csv")

In [35]:
spl_gen = pd.concat([spl_gen_1, spl_gen_2], axis=0, ignore_index=True) # appending spl_gen_2 to spl_gen_1

In [36]:
spl_gen

,AuthorID,Author,Date,Content,Attachments,Reactions
0,495167666726895616,( À∂·µî‡ºù·µîÀ∂) milquetoast ‚ô°#1999,05-Sep-20 12:35 AM,HELLO thank you for inviting and accepting me!!!,NaN,NaN
1,442393544376975380,Raven#5888,05-Sep-20 12:35 AM,ü§ó,NaN,NaN
2,495167666726895616,( À∂·µî‡ºù·µîÀ∂) milquetoast ‚ô°#1999,05-Sep-20 12:35 AM,wow it‚Äôs just like the old server üò≥,NaN,NaN
3,362299347729121281,Brohepsi#1599,05-Sep-20 12:41 AM,Thanks for doing this so much. You've made my ...,NaN,NaN
4,692342743418142801,ùôÅùôûùôßùôöùô¨ùô§ùôßùô†#2551,05-Sep-20 12:41 AM,I'm glad to hear it.,NaN,NaN
...,...,...,...,...,...,...
94802,106634422022860800,MaralinaSakura#1304,25-Sep-22 02:02 AM,Like early 40s at *worst*,NaN,NaN
94803,707303192257626164,Metta#2122,25-Sep-22 05:35 AM,oh hey another TCH ad by PB,https://cdn.discordapp.com/attachments/7514700...,NaN
94804,495167666726895616,( À∂·µî‡ºù·µîÀ∂) milquetoast ‚ô°#1999,25-Sep-22 07:03 AM,I thought tch2 :pepesadboi:,NaN,NaN
94805,707303192257626164,Metta#2122,25-Sep-22 07:07 AM,Soon enough,NaN,NaN
94806,757599193614254141,Akuna Matata#7251,25-Sep-22 10:47 AM,~~*seals the curse instead*~~,NaN,NaN

In [37]:
authorID = list(set(pcf_gen['AuthorID']).intersection(set(spl_gen['AuthorID'])))

In [38]:
#create a dataframe with AuthorID and the number of content in each server
df = pd.DataFrame(columns=['AuthorID', 'Author', 'pcf_gen', 'spl_gen'])
df['AuthorID'] = authorID

In [39]:
#find author name for each authorID
df['Author'] = df['AuthorID'].apply(lambda x: pcf_gen[pcf_gen['AuthorID'] == x]['Author'].values[0])
df['pcf_gen'] = df['AuthorID'].apply(lambda x: pcf_gen[pcf_gen['AuthorID'] == x].shape[0])
df['spl_gen'] = df['AuthorID'].apply(lambda x: spl_gen[spl_gen['AuthorID'] == x].shape[0])

In [40]:
#sort df by sum of content in both servers
df = df.sort_values(by=['pcf_gen', 'spl_gen'], ascending=False)

In [41]:
df

              AuthorID               Author  pcf_gen  spl_gen
45  301372241176952832           azula#9750    43252        1
60  301672529561518081             oge#1004    32931        5
44  395640703704891392     DaHomieDrew#3237    24917     8069
61  224246014473797633             kyo#5036    22958       29
20  442393544376975380           Raven#5888    22479      252
..                 ...                  ...      ...      ...
63  500837646805893121     natatouille#5197        1       38
40  617378411652055080     lion_raider#2667        1       13
35  873569055733329951  James Hametson#9998        1        6
11  363091160027103243     quicksilver#9237        1        3
51  806489789574545458    Hell-Volhard#4976        1        1

[67 rows x 4 columns]

In [42]:

nb_samples = 67
weights = (0.95, 0.05)
x, y = make_classification(n_samples=nb_samples, n_features=2, n_redundant=0, weights=weights, random_state=1000)

print(x[y==0].shape)
print(x[y==1].shape)

(63, 2)
(4, 2)

In [43]:
# Resampling with Replacement
#resample from the dataset limited to the minor class 
# until we reach the desired number of samples in both classes

x_resampled = resample(x[y==1], n_samples=x[y==0].shape[0], random_state=1000)

x_ = np.concatenate((x[y==0], x_resampled))
y_ = np.concatenate((y[y==0], np.ones(shape=(x[y==0].shape[0],), dtype=np.int32)))

print(x_[y_==0].shape)
print(x_[y_==1].shape)

(63, 2)
(63, 2)